.background{
  background-image: url('/public/cloudgiphy.gif');
  background-color:#6f9aeb;
  background-size: cover;
  height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
  }
  
  
  .SMSNotifs {
    width: 500px; 
    height: 740px;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:aliceblue;
    box-shadow: -5px 5px lavender;
  }

  .range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .range-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .range-label {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .temperature-slider,
  .AQI-slider {
    width: 200px; /* Adjust the width as needed */
  }
